@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
	font-size: 18px;
	font-family: "Roboto";
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/*Nav
-----------------------------------------*/
nav {
	background: black;
}

nav > .container {
	display: flex;
	align-items: center;
}

nav img {
	padding-left: 0.5em;
	padding-right: 1em;
	height: 1.5rem;
}

nav span {
	padding: 0.66rem 0;
	color: white;
	text-transform: uppercase;
	display: inline-block;
}

/*Banner
------------------------------------------*/

.banner {
	height: 25rem;
	background: url(moto.jpeg) no-repeat center;
	background-size: cover;
}

.banner > .container {
	display: flex;
}

.banner .highlight {
	background: black;
	color: white;
	width: 20rem;
	padding: 2rem 3rem;
	font-weight: bold;
	margin-top: 9rem;
}

.banner .highlight h2 {
	margin-bottom: 0.25rem;
	text-transform: uppercase;
}

.banner .highlight h1 {
	font-size: 2rem;
}

/*Menu
-------------------------------------------*/

.menu {
	background: firebrick;
	color: white;
}

.menu .container > ul {
	display: flex;
	justify-content: space-between;
}

.menu .container ul li {
	padding: 0.75rem 0;
}

/*Main
--------------------------------------------*/

.main .container {
	display: flex;
	flex-direction: column;
}

.main .container .product-grid {
	display: flex;
	justify-content: space-between;
	padding: 3rem 0;
}

.main .container .product-grid .prod {
	border: 4px solid black;
	width: 30%;
}

.main .container .product-grid .prod .image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9rem;
	padding: 2rem 0;
}

.main .container .product-grid .prod .image img {
	max-width: 8rem;
}

.main .container .product-grid .prod .img-footer {
	background: black;
	color: white;
	padding: 0.5rem 0;
	width: 100%;
	text-align: center;
	float: bottom;
}

.main .container .information {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4rem;
}

.main .container .information .detail {
	width: 35%;
}

.main .container .information .detail .detail-title {
	padding: 1rem 2rem;
	background: black;
	color: white;
	margin-bottom: 4px;
}


