@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
	font-size: 18px;
	font-family: "Roboto";
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/*Nav
-----------------------------------------*/
nav {
	background: black;
}

nav > .container {
	display: flex;
	align-items: center;
}

nav img {
	padding-left: 0.5em;
	padding-right: 1em;
	height: 1.5rem;
}

nav span {
	padding: 0.66rem 0;
	color: white;
	text-transform: uppercase;
	display: inline-block;
}

/*Banner
------------------------------------------*/

.banner {
	height: 25rem;
	background: url(moto.jpeg) no-repeat center;
	background-size: cover;
}

.banner > .container {
	display: flex;
}

.banner .highlight {
	background: black;
	color: white;
	width: 20rem;
	padding: 2rem 3rem;
	font-weight: bold;
	margin-top: 9rem;
}

.banner .highlight h2 {
	margin-bottom: 0.25rem;
	text-transform: uppercase;
}

.banner .highlight h1 {
	font-size: 2rem;
}

/*Menu
-------------------------------------------*/

.menu {
	background: firebrick;
	color: white;
}

.menu .container > ul {
	display: flex;
	justify-content: space-between;
}

.menu .container ul li {
	padding: 0.75rem 0;
}

/*Main
--------------------------------------------*/


